<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>

<div ng-app="myApp" ng-controller="formCtrl">
    <form novalidate>
        <label for="nome">Nome</label>
        <input id="nome" type="text" ng-model="nome">
        <label for="nome">Email</label>
        <input id="email" type="email" ng-model="email">
        <label for="nome">Senha</label>
        <input id="senha" type="password" ng-model="senha">
        <br><br>
        <button type="button" ng-click="reset()">Reset</button>
        <button type="button" ng-click="cadastro()">Enviar</button>
        <button type="button" ng-click="getUsers()">Atualizar</button>
    </form>

    <table>
        <tr ng-repeat="user in users">
            <td>{{ user.User.id }}</td>
            <td>{{ user.User.nome }}</td>
            <td>{{ user.User.username }}</td>
        </tr>
    </table>

</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('formCtrl', function ($scope, $http, $sce) {
        $scope.nome = '';
        $scope.email = '';
        $scope.senha = '';
        $scope.retornoCadastro = '';
        $scope.users = '';
        $scope.dados = {'User' :{'nome': $scope.nome, 'username': $scope.email, "senha": $scope.senha}};
        $scope.urlLista = "http://victormm.pe.hu/users/lista";

        $scope.cadastro = function () {
            console.log($scope.dados);
            $http({
                method : "POST",
                url : "http://victormm.pe.hu/users/cadastro",
                data: { 'User' : $scope.dados}
            }).then(function mySuccess(response) {
                $scope.retornoCadastro = response.data;
            }, function myError(response) {
                $scope.retornoCadastro = response.statusText;
            });
        };
        $scope.getUsers = function () {

            $http({method: 'GET', url:$scope.urlLista})
                .then(
                    function(json) {
                        $scope.users = json.data;
                    },
                    function(error) {
                        console.log('An error occured');
                    }
                );
        };

        $scope.reset = function () {
            $scope.nome = '';
            $scope.email = '';
            $scope.senha = '';
        };

        $scope.getUsers();

    });
</script>

</body>
</html>



