<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="formCtrl">
    <form novalidate>
        <label for="nome">Nome</label>
        <input id="nome" type="text" ng-model="nome">
        <label for="nome">Email</label>
        <input id="email" type="email" ng-model="email">
        <label for="nome">Senha</label>
        <input id="senha" type="password" ng-model="senha">
        <br><br>
        <button type="button" ng-click="reset()">Reset</button>
        <button type="button" ng-click="cadastro()">Enviar</button>
        <button type="button" ng-click="getUsers()">Atualizar</button>
    </form>

    <table>
        <tr ng-repeat="user in users">
            <td>{{ user.id }}</td>
            <td>{{ user.nome }}</td>
            <td>{{ user.email }}</td>
        </tr>
    </table>

</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('formCtrl', function ($scope, $http) {
        $scope.nome = '';
        $scope.email = '';
        $scope.senha = '';
        $scope.retornoCadastro = '';
        $scope.users = '';

        $scope.cadastro = function () {
            $http.get("http://victormm.pe.hu/users/cadastro")

                .then(function (response) {
                    $scope.retornoCadastro = response.data;
                });

        };
        $scope.getUsers = function () {
            $http.get("http://victormm.pe.hu/users/lista")
                .then(function (response) {
                    $scope.users = response.data;
                });
        };

        $scope.reset = function () {
            $scope.nome = '';
            $scope.email = '';
            $scope.senha = '';
        }

        $scope.getUsers();

    });
</script>

</body>
</html>



